OPENAI_API_KEY=sk-...
GMAIL_USER=you@gmail.com
GMAIL_CLIENT_ID=123456789-xxx.apps.googleusercontent.com
GMAIL_CLIENT_SECRET=GOCSPX-xxxxxxxxxxxxxxxx
GMAIL_REFRESH_TOKEN=1//04xxxxxxxxxxxxxxxx
# Optional second Gmail account (will be used randomly alongside the first)
GMAIL_USER_2=second@gmail.com
GMAIL_CLIENT_ID_2=123456789-yyy.apps.googleusercontent.com
GMAIL_CLIENT_SECRET_2=GOCSPX-yyyyyyyyyyyyyyyy
GMAIL_REFRESH_TOKEN_2=1//04yyyyyyyyyyyyyyyy
API_AUTH_TOKEN=some-random-secret
PORT=3000
