OPENAI_API_KEY=sk-...
GMAIL_USER=you@gmail.com
GMAIL_CLIENT_ID=123456789-xxx.apps.googleusercontent.com
GMAIL_CLIENT_SECRET=GOCSPX-xxxxxxxxxxxxxxxx
GMAIL_REFRESH_TOKEN=1//04xxxxxxxxxxxxxxxx
API_AUTH_TOKEN=some-random-secret
PORT=3000
